<header>
<img src="assets/img/linkedin.png" alt="">
<div class="pesquisar">
  <img src="assets/img/lupa.png" onmouseover="this.src='assets/img/lupa_hover.png'" onmouseout="this.src='assets/img/lupa.png'">
  <input type="search" name="Pesquisar" id="" placeholder="Pesquisar">
</div>
<nav>
  <ul>
    <li>
      <a href="">
        <div class="box-p box-">
          <img src="assets/img/casa.png" onmouseover="this.src='assets/img/casa_hover.png'" onmouseout="this.src='assets/img/casa.png'">
          <p>Início</p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div class="box-p box-">
          <img src="assets/img/redes.png" onmouseover="this.src='assets/img/redes_hover.png'" onmouseout="this.src='assets/img/redes.png'">
          <p>Minha rede</p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div class="box-p box-">
          <img src="assets/img/vagas.png" onmouseover="this.src='assets/img/vagas_hover.png'" onmouseout="this.src='assets/img/vagas.png'">
          <p>Vagas</p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div class="box-p box-">
          <img src="assets/img/msg.png" onmouseover="this.src='assets/img/msg_hover.png'" onmouseout="this.src='assets/img/msg.png'">
          <p>Mensagens</p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div class="box-p box-">
          <img src="assets/img/sino.png" onmouseover="this.src='assets/img/sino_hover.png'" onmouseout="this.src='assets/img/sino.png'">
          <p>Notificações</p>
        </div>
      </a>
    </li>
   
  </ul>
  <a href="">
    <div>
      <p></p>
    </div>
  </a>
</nav>
<a href="">
  <div class="box-p box-perfil">
    <div class="perfil">
      <div class="body"></div>
      <div class="header"></div>
    </div>
    <p>Eu</p>
    <img src="assets/img/downward-arrow.png" onmouseover="this.src='assets/img/downward-arrow_hover.png'" onmouseout="this.src='assets/img/downward-arrow.png'">
  </div>
</a>
<div class="bloco-solucao">

    <div class="box-p box-solucao">
      <img src="assets/img/solucao.png" onmouseover="this.src='assets/img/solucao_hover.png'" onmouseout="this.src='assets/img/solucao.png'">
      <p>Soluções</p>
      <img id="seta" src="assets/img/downward-arrow.png" onmouseover="this.src='assets/img/downward-arrow_hover.png'" onmouseout="this.src='assets/img/downward-arrow.png'">
    </div>
 
  <a>
    <p class="experimente">Experimente o Premium grátis</p>
  </a>
  
</div>

</header>
<section class="main-section">
  <main class="main-content">
    <section >
      <div class="lateral-p caixa-perfil">
        <app-principal></app-principal>
      </div>
      <div class="lateral-p analise">
        <h2>Objetos feitos com CSS/HTML</h2>
        <app-switch></app-switch>
      </div>
      <div class="lateral-p recursos"></div>
    </section>
    
  </main>
  <aside>
    <div class="lateral-p editar-url">
      <p class="inline-block">Editar perfil público e URL</p>
      <i class="cinza inline-block right fa fa-question-circle" aria-hidden="false"></i>
      <hr>
      <p class="inline-block">Adicionar perfil em outro idioma</p>
      <i class="cinza inline-block right fa fa-question-circle" aria-hidden="true"></i>
    </div>
    <div class="lateral-p viram"></div>
    <div class="lateral-p talvez"></div>
  </aside>
</section>

<!-- <app-switch></app-switch> -->
<footer>

</footer>