<header>
<h1>linkedin</h1>
<div class="pesquisar">
  <img src="assets/img/lupa.png" alt="">
  <input type="search" name="Pesquisar" id="">
</div>
<nav>
  <ul>
    <li>
      <a href="">
        <div>
          <img src="assets/img/casa.png" alt="">
          <p>Início</p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div>
          <img src="assets/img/redes.png" alt="">
          <p>Minha rede</p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div>
          <img src="assets/img/vagas.png" alt="">
          <p>Vagas</p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div>
          <img src="assets/img/msg.png" alt="">
          <p>Mensagens</p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div>
          <img src="assets/img/sino.png" alt="">
          <p>Notificações</p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div>
          <p></p>
        </div>
      </a>
    </li>
  </ul>
  <a href="">
    <div>
      <p></p>
    </div>
  </a>
  <a>
    <p>Experimente o Premium grátis</p>
  </a>
</nav>
</header>
<app-switch></app-switch>
<footer>

</footer>