.papel-parede{
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
    height: 200px;
    background-image: url("src/assets/upload/papel-parede.jfif");
    background-repeat: no-repeat;
    background-size: contain;
}
.foto-perfil{
    border-radius: 50%;
    border: 0.3vmax solid #fff;
    width: 150px;
    height: 150px;
    background-color: bisque;
    background-image: url("src/assets/upload/foto.jfif");
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    position: absolute;
    top: 14%;
    left: 3%;
}
.metade{
    background-color: antiquewhite;
    height: 43%;
    display: flex;
}
.metade .lado-a, .metade .lado-b{
    width: 50%;
    height: 100%;
}
.metade .lado-a{
    background-color: aquamarine;
}