<div class="papel-parede">
        
</div>
<div class="foto-perfil">

</div>
<div class="corpo">
    <div class="lado-a">
        <p id="text-nome">Matheus Galdino</p>
        <p id="text-bio">Desenvolvedor front-end | Vue.js | Node.js | MySql && SQL Server | Java | Python | Django</p>
        <div class="info-local">
            <span id="text-local">Manaus, Amazonas, Brasil </span>
            <span id="text-point">	&#8901;</span>
            <span id="text-info"><b>Informações de contato</b></span>
        </div>
        <span id="text-info"><b>334 conexões</b></span>
        <div class="box-button">
            <button class="btn-p btn-be">Tenho interesse em...</button>
            <button class="btn-p btn-add">Adicionar seção do perfil</button>
            <button class="btn-p btn-plus">Mais</button>
        </div>
    </div>
    <div class="lado-b">
        
    </div>
</div>