<p>switch works!</p>
<div class="switch">
    <div class="esquerdo">
        <div class="retangunlo">

        </div>
        <div class="btn-circulo">
        </div>
        <div class="caixa-d-pad">
            <div class="btn-d-pad-up">
            </div>
            <div class="btn-d-pad-down">
            </div>
            <div class="btn-d-pad-left">
            </div>
            <div class="btn-d-pad-right">
            </div>
            
        </div>
        <div class="btn-quadrado">
        </div>

    </div>
    <div class="main">
        <div class="tela">

        </div>

    </div>
    <div class="direito">
        <div class="cruz">
            
        </div>
        <div class="caixa-d-pad-d">
            <div class="btn-d-pad-up-d">
            </div>
            <div class="btn-d-pad-down-d">
            </div>
            <div class="btn-d-pad-left-d">
            </div>
            <div class="btn-d-pad-right-d">
            </div>
        </div>
        <div class="botao-direito-a">

        </div>
        <div class="botao-direito-b">

        </div>
    </div>

</div>