<div class="switch">
    <div class="esquerdo">
        <div class="retangunlo">

        </div>
        <div class="btn-circulo">
            <div class="sub-circulo">

            </div>
        </div>
        <div class="caixa-d-pad">
            <div class="btn-dp btn-d-pad-up">
                <p class="rotate">&#9650;</p>
            </div>
            <div class="btn-dp btn-d-pad-right">
                <p class="rotate">&#9654;</p>
            </div>
            <div class="btn-dp btn-d-pad-left">
                <p class="rotate">&#9664;</p>
            </div>
            <div class="btn-dp btn-d-pad-down">
                <p class="rotate">&#9660;</p>
            </div>
            
            
            
        </div>
        <div class="btn-quadrado">
        </div>

    </div>
    <div class="main">
        <div class="tela">

        </div>

    </div>
    <div class="direito">
       <p class="cruz"><b>&#10009;</b></p>
        <div class="caixa-d-pad-d">
            <div class="btn-dp btn-d-pad-x">
                <p class="rotate">X</p>
            </div>
            <div class="btn-dp btn-d-pad-y">
                <p class="rotate">Y</p>
            </div>
            <div class="btn-dp btn-d-pad-a">
                <p class="rotate">A</p>
            </div>
            <div class="btn-dp btn-d-pad-b">
                <p class="rotate">B</p>
            </div>
        </div>
        <div class="botao-direito-a">
            <div class="sub-circulo">

            </div>

        </div>
        <div class="botao-direito-b">

        </div>
    </div>

</div>
